* {
  margin: auto;
  padding: 0;
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;

  background-color: black;
}

.nome-banda {
  margin-top: 0.7rem;
  font-size: 2rem;

  margin-top: 2rem;
}

.img-principal {
  height: 300px;
  width: 1000px;
  max-width: 100%;
}

.header-cont {
  width: 1010px;
  max-width: 100%;
}

.sobre {
  margin-top: 1rem;
}

.music-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  margin-top: 1rem;
}

.music-cont {
  gap: 2rem;
  
}

.music-cont img{
    width: 350px;
    height: 230px;
}

.name-audio{
    margin: .8rem;
}

.video-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  margin-top: 1rem;
  gap: 1rem;

  background-color: black;
}

.video-cont a {
  text-decoration: none;
  font-weight: bold;
  color: white;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.video-cont a img{
    width: 350px;
    height: 230px;
}

.button-home {
  width: 9rem;
  height: 4rem;

  border-radius: 15px;
  background-color: black;
  border: solid 2px white;

  margin-bottom: 2rem;
}

.button-home-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

.button-home a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;

  background-color: black;
  
}

@media (max-width: 600px) {
}
